.menu {
    background: #fff;
    width: 195px;
    flex-shrink: 0;
    &__wrapper {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        padding: 0 60px;
        text-transform: uppercase;
        margin-bottom: 51px;
        font-size: 15px;
        max-width: 195px;
    }
    &__main-nav {
        position: fixed;
        top: 120px;
        align-self: center;
    }
}
.main-nav {
    &__list {
    }
    &__item {
        margin-bottom: 10px;
        text-align: center;
    }
    &__link {
        font-size: 12px;
        color: $grey-dark;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .main-nav {
        left: 232px;
    }
}