.main-content {
    background: $grey-dark;
    color: $grey;
    padding-top: 30px;
    &__wrapper {
        width: 46%;
        margin: 0 auto;
    }
    &__title {
        margin-bottom: 2em;
    }
    &__box {
        border-bottom: 1px solid $grey;
        margin-bottom: 2em;
        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
        }
    }
}
