.tech-skills {
    &__title {
        margin-bottom: 1.5em;
    }
    &__subtitle {
        font-size: 0.875em;
        margin-bottom: 1em;
    }
    &__row {
        margin-bottom: 1em;
    }
    &__loader {
        width: 100%;
        height: 15px;
        background: #fff;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            height: 100%;
            background: $grey;
        }
        &:after {
            content: "";
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            font-size: 10px;
            top: 50%;
            height: 100%;
            width: 30px;
            position: absolute;
            transform: translate(-50%, -50%);
        }
        &--wide {
            &:before {
                width: 95%;
            }
            &:after {
                content: "95%";
                left: 50%;
            }
        }
        &--normal {
            &:before {
                width: 85%;
            }
            &:after {
                content: "85%";
                left: 45%;
            }
        }
        &--narrow {
            &:before {
                width: 80%;
            }
            &:after {
                content: "80%";
                left: 40%;
            }
        }
    }
    &__button-wrap {
        display: flex;
    }
    &__button {
        margin-bottom: 2em;
    }
}